
  <div class="well">
    <h1>Actions</h1>
    <p>
      <%= link_to "New Team", new_team_path, class: "btn btn-default" %>
      <%= link_to "Teams", teams_path, class: "btn btn-default" %>
    </p>
  </div>

  <div class="well">
    <%= link_to "Make a Pick", new_pick_path(:admin => 1), class: "btn btn-default" %>
    <%= link_to "List Picks", picks_path, class: "btn btn-default" %>
    <%= link_to "New Player", new_player_path, class: "btn btn-default" %>
  </div>

  <div class="well">
  <% flash.each do |name, msg| -%>
  <% if name == "success" %>
    <div class="bg-success">
  <% else %>
    <div class="bg-danger">
  <% end -%>
     <%= content_tag :div, msg, class: name %>
    </div>
    <% end -%>

    <h1>Player data upload</h1>
    <h2>Steps to upload new players from Fantasy Pros.</h2>
       This will remove all players and picks, so only do once before drafting.
        <ol>
          <li>Go to the
            <span 
            <%= link_to "PPR Fantasy Football Draft Rankings",
                "https://www.fantasypros.com/nfl/rankings/ppr-cheatsheets.php", class: "btn btn-default" %>
          </li>
          <li>Click <b>Options -> Download CSV</b></li>
          <li>You will need to login to Facebook</li>
          <li>Save the CSV file locally</li>
          <li>Drop all picks and players at the bottom of this page.
          <li>Upload the file below.</li>
        </ol>

    <div class="well">
    <%= form_tag(upload_players_path, multipart: true) do %>
    <div class="form-group">
      <%= label_tag :players_csv, "Fantasy Pros Draft Rankings CSV" %>
      <%= file_field_tag :players_csv, class: "btn btn-default" %>
    </div>
    <div class="form-group">
      <%= submit_tag "Upload", class: "btn btn-primary" %>
    </div>
    <% end %>

    </div>
  </div>

  <div class="well">
    <p class="bg-danger">
      <h1>DANGER!</h1>
    </p>
    <%= link_to "Drop All Picks", drop_picks_path, method: :delete, data: { confirm: 'Are you sure you want to drop ALL picks?' }, class: "btn btn-danger" %>
    <%= link_to "Drop All Players", drop_players_path, method: :delete, data: { confirm: 'Are you sure you want to drop ALL players?' }, class: "btn btn-danger" %>
  </div>
