<div class="well">
<h3><%= name %></h3>
<table class="table table-condensed table-hover table-bordered">
<thead>
<tr>
<% if @show_pick %>
<th>Picked</th>
<% end %>
<th>Rank</th>
<th>P. Rank</th>
<th>Name</th>
<th>Team</th>
<th>Bye</th>
</tr>
</thead>
<% players.each do |player| %>
<tr class="player-row">
<% if @show_pick %>
<td><%= check_box_tag 'picked', player.id, player.picked?, {:class => "player-checkbox"} %></td>
<% end %>

<td><%= player.total_rank %></td>
<td><%= player.positional_rank %></td>
<td><%= player.name %></td>
<td><%= player.team %></td>
<td><%= player.bye_week %></td>
</tr>
<% end %>
</table>
</div>
