<div class="well well-sm">
<h3><%= team.name %></h3>
<table class="table table-condensed table-hover table-bordered">
<thead>
<tr>
<th>Round</th>
<th>Player</th>
<th>Position</th>
<th>Team</th>
<th>Bye</th>
</tr>
</thead>
<% pick_map = {} %>
<% team.picks.each {|pick| pick_map[pick.round] = pick} %>

<% 1.upto(Pick::MAX_PICKS) do |round| %>
<tr class="player-row">

  <% pick = pick_map[round] %>
  <% if pick %>
  <td><%= pick.round %></td>
  <td><%= pick.player.name %></td>
  <td><%= pick.player.position %></td>
  <td><%= pick.player.team %></td>
  <td><%= pick.player.bye_week %></td>
  <% else %>
  <td colspan="5"><%= round %></td>
  <% end %>
</tr>
<% end %>
</table>
</div>
