  <p id="notice"><%= notice %></p>

  <% flash.each do |name, msg| -%>
  <% if name == "success" %>
    <div class="bg-success">
  <% else %>
    <div class="bg-danger">
  <% end -%>
     <%= content_tag :div, msg, class: name %>
    </div>
    <% end -%>

<%= form_for(@pick, :html => {:class => class_for_picks_form}) do |f| %>
  <% if @pick.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pick.errors.count, "error") %> prohibited this pick from being saved:</h2>

      <ul>
      <% @pick.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="form-group">
  <%= f.label :team_id, "Pick a Team" %>
  <%= select_tag(:team_id, options_for_select(@teams.map{|t| [t.name, t.id]}, default_selected_team), prompt: "Team...", class: "form-control") %>
</div>

<div class="form-group">
  <%= f.label :player_id, "Pick a Player" %>
  <%= select_tag(:player_id, options_for_select(@avail_players.map{|p| [p.name_and_position, p.id]}, default_selected_player), include_blank: true, class: "player-select", style: "width: 400px" ) %>
</div>

<div class="form-group">
  <%= f.label :round, "What round" %>

  <% if @admin %>
  <%= select_tag(:round, options_for_select(1.upto(17).map{|r| ["Round #{r}", r]}), class: "form-control") %>
  <% else %>
  <div id="team_rounds">
    <select class="form-control"></select>
  </div>
  <% end %>
</div>


  <div class="actions">
    <%= f.submit class: "btn btn-default" %>
  </div>
  <% end %>

  <script type="text/javascript">
    $(document).ready(function() {
  $(".js-example-basic-single").select2();
    });
    </script>
