<!DOCTYPE html>
<html>
<head>
  <title>Roaff2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<script type="text/javascript">
        $(function(){
         $('.player-checkbox').on('change', function(elem){
            var updateInfo = { picked: elem.target.checked };
            $.ajax({type:"PUT", url: "/players/" + elem.target.value,
                    data: updateInfo}).done(function (data) { 
                 }).fail(function() {
                   alert( "failed" );
                 })
            });
        });
</script>

<% if signed_in? %>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
    </div>
    <a href="<%= root_path %>">
      <button type="button" class="btn btn-default navbar-btn">
        Home
      </button>
    </a>
    <a href="<%= sessions_signout_path %>">
      <button type="button" class="btn btn-default navbar-btn">
        Sign Out
      </button>
    </a>
  </div>
</nav>
<% end %>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
